html, body {
    height: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: url('https://png.pngtree.com/background/20250103/original/pngtree-close-up-texture-of-blue-roses-a-beautiful-summer-flowers-background-picture-image_13574834.jpg');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  button {
    margin: 10px;
    display:inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  button:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  button:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  button:focus {
    outline: none;
  }
  
  h2 {
    font-family: 'Romantic';
    margin: 20px 0;
    font-size: 85px;
    color: #fff;
    text-shadow: 5px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -1px 0 0 #000;
  }

  h3 {
    font-family: 'Romantic';
    margin: 20px 0;
    font-size: 80px;
    color: #fff;
    text-shadow: 5px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -1px 0 0 #000;
  }